<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <ul style="display: flex; gap: 10px; list-style: none;">
        <li><a href="/movies">Películas</a></li>
        <li><a href="/genres">Géneros</a></li>
        <li><a href="/actors">Actores</a></li>
    </ul>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <section>
        <a class="button" style="color: black;" href="/movies/edit/<%= movie.id %>">Editar</a>
        <a class="button" style="color: black;" href="/movies/delete/<%= movie.id %>">Borrar</a>
    </section>
    <br><br><hr><br><br>
    <section>
        <a class="button" style="color: black;" href="/movies/add">Agregar nueva película</a>
        <a class="button" style="color: black;" href="/movies/">Ver listado de películas</a>
    </section>
</body>
</html>